

body {
  margin: 0;
  overflow-x: hidden;
  background-color:aliceblue;
}
.simple-search {
  display: inline-flex;
  position: relative;
  font-size: 12px;
  width: 300px;
  max-width: 100%;
}

.simple-search-input {
  border-radius: 4em;
  padding: 8px 45px 8px 17px;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border-style: solid;
  transition: background-color .2s, border .2s;
  border-width: 0;
  flex-grow: 1;
  width: 0;
  border: 2px solid rgba(152,152,152,.2);
  font-size: 14px;
  -webkit-appearance: none;
  color: rgba(152,152,152,1);
}

.simple-search-input::-webkit-input-placeholder {
  color: rgba(152,152,152,.2);
}
.simple-search-input::-moz-placeholder {
  color: rgba(152,152,152,.2);
}
.simple-search-input:-ms-input-placeholder {
  color: rgba(152,152,152,.2);
}
.simple-search-input:-moz-placeholder {
  color: rgba(152,152,152,.2);
}

.simple-search-input::-ms-clear {  
  display: none; width : 0; height: 0; 
}
.simple-search-input::-ms-reveal {  
  display: none; width : 0; height: 0; 
}

/* clears the 'X' from Chrome */
.simple-search-input::-webkit-search-decoration,
.simple-search-input::-webkit-search-cancel-button,
.simple-search-input::-webkit-search-results-button,
.simple-search-input::-webkit-search-results-decoration { 
  display: none; 
}

.simple-search-input:hover,
.simple-search-input:focus {
  border-color: rgba(152,152,152,.4);
}


.simple-search-button {
  position: absolute;
  width: 45px;
  top: 0;
  bottom: 0;
  transition: background-color .2s;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  right: 0;
}

.simple-search-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -55%);
}

.simple-search-icon > g {
  fill: rgba(233, 229, 229, 0.3);
}
Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
  
.App {
  text-align: center;
  justify-content: center;
  text-align: center;
  background-color: #4061a3;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #4061a3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    justify-content: center;
    text-align: center;
    background-color: #4061a3;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: table-row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  background-color: #4061a3;
}
.container{
  justify-content: center;
  text-align: center;
  background-color: #4061a3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signUpComponent {
  color: #61dafb;
}

.navbar  {
  list-style: none;
  padding: 0;
  margin: 5px;
}
.navbar{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid gray;
  margin-right: 5px;
  background: gray;
  color: lightgray;
  cursor: pointer;
}
.navbar {
  background: #FFF;
  color: #000;
}
.navbar {
  padding: 20px;
  border: 1px solid gray;
  max-width: 800px;
}.card {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: solid;
  border-bottom: solid;
}
.App {
  text-align: center;
  justify-content: center;
  text-align: center;
  background-color: #4061a3;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #4061a3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    justify-content: center;
    text-align: center;
    background-color: #4061a3;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: table-row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  background-color: #4061a3;
}
.container{
  justify-content: center;
  text-align: center;
  background-color: #4061a3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link{
  
    list-style: none;
    padding: 0;
    margin: 5px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid gray;
    margin-right: 5px;
    background: gray;
    color: lightgray;
    cursor: pointer;
    background: #FFF;
    background-repeat: no-repeat;
    color: #000;
    padding: 20px;
    border: 1px solid gray;
    max-width: 800px;
    font-size: 20;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px;
    width: 180px;
bottom: 20px;
}
.linked{
  
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  padding: 40px 20px;
  border: 1px solid gray;
  margin-right: 1px;
  background:white;
  color: lightgray;
  cursor: pointer;
  background-image:url("minAnime.png");
  box-sizing: 1800;
  background-repeat: no-repeat;
  width: 220px;
  
  color: #000;
  padding: 30px;
  border: 1px solid gray;

  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.upcoming{
  
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  padding: 40px 20px;
  border: 1px solid gray;
  margin-right: 1px;
  background:white;
  color: lightgray;
  cursor: pointer;
  background-image:url("upcoming.png");
 
  background-repeat: no-repeat;
  width: 220px;
  
  color: #000;
  padding: 30px;
  border: 1px solid gray;

  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
  
.genre{
  
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  padding: 40px 20px;
  border: 1px solid gray;
  margin-right: 1px;
  background:white;
  color: lightgray;
  cursor: pointer;
  background-image:url("Genres.png");
  box-sizing: 1800;
  background-repeat: no-repeat;
  width: 130px;
  
  color: #000;
  padding: 30px;
  border: 1px solid gray;

  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
  
.search{
  
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  padding: 40px 20px;
  border: 1px solid gray;
  margin-right: 1px;
  background:white;
  color: lightgray;
  cursor: pointer;
  background-image:url("search.png");
  box-sizing: 1800;
  background-repeat: no-repeat;
  width: 120px;
  
  color: #000;
  padding: 30px;
  border: 1px solid gray;

  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.signup{
  
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  padding: 40px 20px;
  border: 1px solid gray;
  margin-right: 1px;
  background:white;
  color: lightgray;
  cursor: pointer;
  background-image:url("signup.png");
  box-sizing: 1800;
  background-repeat: no-repeat;
  width: 150px;
  
  color: #000;
  padding: 30px;
  border: 1px solid gray;

  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.login{
  
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  padding: 40px 20px;
  border: 1px solid gray;
  margin-right: 1px;
  background:white;
  color: lightgray;
  cursor: pointer;
  background-image:url("login.png");
  box-sizing: 1800;
  background-repeat: no-repeat;
  width: 140px;
  
  color: #000;
  padding: 30px;
  border: 1px solid gray;

  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
  
  
  

